<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban</title>
    
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav>
        <span>Kanban</span>
        <a href="./login"><button>Exit</button></a>
    </nav>
    
    <div id="wrapper">
       <!--    First Row   -->
       <div class="titles">
         <div> <span>To Do</span>      </div>
         <div> <span>On Process</span> </div>
         <div> <span>Testing</span>    </div>
         <div> <span>Done</span>       </div>
       </div> 
       <!--    Second Column   -->
       <div id="actions">
	       <div id="radios">	
			<label class="cont">
			  	<input type="radio" name="option" value="0">
			  	<span class="checkmark"></span>
			</label>
			<label class="cont">
			  	<input type="radio" name="option" value="1">
			  	<span class="checkmark"></span>
			</label>
			<label class="cont">
			  	<input type="radio" name="option" value="2">
			  	<span class="checkmark"></span>
			</label>
			<label class="cont">
				  <input type="radio" name="option" value="3">
				  <span class="checkmark"></span>
			</label>
		</div>
	       <div id="addForm">
		       <div><input type="text" id="name" placeholder="Name"></div>
		       <div><input type="text" id="desc" placeholder="Description"></div>
		       <div><label for="date">Deadline:</label>
		       <input type="date" id="date" name="date"></div>
		       <div><button id="add">Add</button></div>
	       </div>
	       <div id="deleteForm">
		       <input type="number" id="number" placeholder="Number">
		       <button id="delete">Delete</button>
	       </div>
       </div>
       <!--    Third Column   -->
       <div id="grid">
	 <div id="todo" class="sortable"></div>
         <div id="progress" class="sortable"></div>
         <div id="testing" class="sortable"></div>
         <div id="done" class="sortable"></div>
      </div>
    </div>
	
    <div id="floating">
	<button id="addbutton">Add</button><button id="deletebutton">Delete</button>
    </div>


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>
